
body{
    background-image: url(../images/wall1.jpg);
    background-size:cover;
    z-index:0;
    min-height:100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}


.recherche{
    position:relative;
    top:40%;
    left:40%;  
}

.mymenu{
    height: 94vh;
    width:14%;
    background-color:#0D0C0C;
    text-align: center;
    color:white;
    font-size:16px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

hr{
    border-top: 1px solid darkgrey;
    height: 3px;
    width: 65%;
}

.liens{
    position: relative;
    top: 7%;
}
.contenu{
    width:70%;
    height:55vh;
    z-index:1;
    overflow-x: hidden;
    position: relative;
    top:9%;
    left:8%;
    
}
.box{
    display: inline-block;
    float: left;
    z-index:2;
    
}
.my-img{
    position: relative;
    left:3%;
}
.profil{
    position: relative;
    right: 15%;
    top:5%;
}
.birth{
    position: relative;
    right:25%;
}
